- @title = "Login"
#content
  %h2 Sign in
  = form_tag session_path, data: { controller: "form-validation", action: "submit->form-validation#validate" } do
    %dl
      %dt
        %label{for: "username"} Username
      %dd
        = text_field_tag "username", nil, data: { form_validation_target: "field", required: "true", field_name: "Username" }
        %span.field-error{ data: { form_validation_target: "error", for: "username" } }
      %dt
        %label{for: "password"} Password
      %dd
        = password_field_tag "password", nil, data: { form_validation_target: "field", required: "true", field_name: "Password" }
        %span.field-error{ data: { form_validation_target: "error", for: "password" } }
    .submit= submit_tag "Sign In", data: { form_validation_target: "submit", loading_text: "Signing in..." }
  .section
    = link_to "Create new account", "/signup"
  %div{style: "clear: both"}
