<%# Subscription item for subscribe/confirm page %>
<%# locals: subscription (Subscription), feed (Feed), first (Boolean) %>
<% sub = local_assigns[:subscription] %>
<% feed = local_assigns[:feed] || sub.feed %>
<li class="list<%= ' list-first' if local_assigns[:first] %>"
    id="subscription-<%= sub.id %>"
    data-controller="subscription"
    data-subscription-id-value="<%= sub.id %>">
  <%= link_to feed.title, feed.link, class: "subscribe_list", style: "background-image:url('#{favicon_path(feed.id)}')" %>
  <span class="subscriber_count"><%= users_link(feed) %></span>
  <span class="subscribed">[subscribed]</span>
  <button class="subs_edit" rel="edit:<%= sub.id %>" onkeydown="subs_edit.call(this,event)" onmousedown="subs_edit.call(this,event)" onclick="return false">Edit</button>
  <button class="subs_delete" data-action="click->subscription#delete">Delete</button>
  <br />
  <%= link_to feed.feedlink, feed.feedlink, class: "feedlink" %>
</li>
