<title>Fastladder Mobile</title>
<link href='https://unpkg.com/sakura.css/css/sakura.css' media='screen' rel='stylesheet' type='text/css'>
<meta content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>

<div data-controller="hotkey" data-hotkey-key-value="s">
<h1>
  <img src="/img/logo_small.gif" alt="Fastladder">
</h1>

<% if @member.pins.count > 0 %>
  <div>
    <a href="/pins">Pins</a>
  </div>
<% end %>

<ul>
  <% rate = nil %>
  <% @subscriptions.each do |subscription| %>
    <% if subscription.rate != rate %>
      <% rate = subscription.rate %>
      <li style="list-style-type: none;">
        <img src="/img/rate/<%= rate %>.gif" alt="<%= rate %>" style="margin-bottom: 0px">
      </li>
    <% end %>
    <li>
      <% if subscription == @subscriptions.first %>
      <a class="feed" href="/mobile/<%= subscription.id %>" data-hotkey-target="trigger">
      <% else %>
      <a class="feed" href="/mobile/<%= subscription.id %>">
      <% end %>
        <%= subscription.feed.title %>
        (<%= subscription.unread_count > 200 ? 200 : subscription.unread_count %>)
      </a>
    </li>
  <% end %>
</ul>
</div>

<style>
  body {
    max-width: 1000px;
    margin: 0 auto;
  }
</style>
