<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fastladder <%= @title || [params[:controller].capitalize, (params[:action] if params[:action] != "index")].compact.join(": ") %></title>
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <%= stylesheet_link_tag "common" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "main" %>

    <% if content_for? :extract_header %>
      <%= yield :extract_header %>
    <% end %>
  </head>
  <body class="<%= params[:controller] %>">
    <span id="ApiKey" style="display:none" data-api-key="<%= session[:session_id] %>"></span>
    <div id="container">
      <%= render "shared/navigation" %>
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>
    <script>
      var ApiKey = '<%= escape_javascript(session[:session_id]) %>';
    </script>
    <%# IMPORTANT: Save native JS methods BEFORE legacy code pollutes them %>
    <script>
      console.log('=== NATIVE SHIM START ===');
      window.__nativeJS__ = {
        ArrayFrom: Array.from,
        ArrayPrototypeReduce: Array.prototype.reduce,
        Set: Set,
        Map: Map,
        WeakMap: WeakMap
      };
      window.__restoreNativeJS__ = function() {
        console.log('=== RESTORING NATIVE JS ===');
        if (window.__nativeJS__.ArrayFrom) Array.from = window.__nativeJS__.ArrayFrom;
        if (window.__nativeJS__.ArrayPrototypeReduce) Array.prototype.reduce = window.__nativeJS__.ArrayPrototypeReduce;
        if (window.__nativeJS__.Set) window.Set = window.__nativeJS__.Set;
        if (window.__nativeJS__.Map) window.Map = window.__nativeJS__.Map;
        if (window.__nativeJS__.WeakMap) window.WeakMap = window.__nativeJS__.WeakMap;
        console.log('=== NATIVE JS RESTORED ===');
      };
      console.log('=== NATIVE SHIM END ===');
    </script>
    <%= javascript_include_tag "vendor/flow.min" %>
    <%= javascript_include_tag "vendor/zepto.min" %>

    <%= javascript_include_tag "lib/namespace" %>

    <%= javascript_include_tag "lib/utils/DateTime" %>
    <%= javascript_include_tag "lib/utils/array_extra" %>
    <%= javascript_include_tag "lib/utils/common" %>
    <%= javascript_include_tag "lib/utils/dom" %>
    <%= javascript_include_tag "lib/utils/ie_xmlhttp" %>
    <%= javascript_include_tag "lib/utils/preload" %>
    <%= javascript_include_tag "lib/utils/proto" %>
    <%= javascript_include_tag "lib/utils/roma" %>

    <%= javascript_include_tag "lib/events/event_dispatcher" %>
    <%= javascript_include_tag "lib/events/hotkey" %>
    <%= javascript_include_tag "lib/events/mouse_wheel" %>
    <%= javascript_include_tag "lib/events/queryCSS" %>

    <%= javascript_include_tag "lib/template" %>
    <%= javascript_include_tag "lib/api" %>
    <%= javascript_include_tag "lib/reader/style_initializer" %>
    <%= javascript_include_tag "lib/ldr" %>

    <%= javascript_include_tag "lib/ui/feed" %>
    <%= javascript_include_tag "lib/ui/flat_menu" %>
    <%= javascript_include_tag "lib/ui/item" %>
    <%= javascript_include_tag "lib/ui/rate" %>

    <%# IMPORTANT: Restore native JS methods AFTER legacy scripts but BEFORE ES modules run %>
    <script>
      console.log('DEBUG: Restore script starting');
      console.log('DEBUG: __restoreNativeJS__ exists:', typeof __restoreNativeJS__);
      if (typeof __restoreNativeJS__ === 'function') {
        __restoreNativeJS__();
      } else {
        console.error('DEBUG: __restoreNativeJS__ not found!');
      }
    </script>

    <%# Load importmap and ES modules AFTER restoring native JS methods %>
    <%= javascript_importmap_tags %>
  </body>
</html>
