<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fastladder <%= @title || [params[:controller].capitalize, (params[:action] if params[:action] != "index")].compact.join(": ") %></title>
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <%= stylesheet_link_tag "common" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_importmap_tags %>

    <% if content_for? :extract_header %>
      <%= yield :extract_header %>
    <% end %>
  </head>
  <body class="<%= params[:controller] %>">
    <span id="ApiKey" style="display:none" data-api-key="<%= session[:session_id] %>"></span>
    <div id="container">
      <div class="navi">
        <h1 class="logo"><%= link_to "Fastladder", root_path %></h1>
        <% if current_member.present? && !current_member.errors.any? %>
          <ul>
            <li>
              Welcome
              <%= link_to current_member.username, user_path(current_member.username) %>
            </li>
            <li><%= link_to "My Feeds", reader_path %></li>
            <li><%= link_to "Account", account_index_path %></li>
            <li><%= link_to "Sign Out", logout_path %></li>
          </ul>
        <% end %>
      </div>
      <% if flash[:notice] %>
        <div class="notice" style="text-align:center;background-color:#ff9;padding:0.5em;position:relative" data-controller="flash" data-flash-delay-value="5000">
          <button class="flash-close" type="button" style="position:absolute;right:10px;top:50%;transform:translateY(-50%);background:none;border:none;font-size:1.2em;cursor:pointer;opacity:0.7" data-action="flash#close" aria-label="Close">&times;</button>
          <p style="color: green;margin:0"><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert" style="text-align:center;background-color:#fdf3eb;padding:0.5em;position:relative" data-controller="flash" data-flash-delay-value="8000">
          <button class="flash-close" type="button" style="position:absolute;right:10px;top:50%;transform:translateY(-50%);background:none;border:none;font-size:1.2em;cursor:pointer;opacity:0.7" data-action="flash#close" aria-label="Close">&times;</button>
          <p style="color: #e81a37;margin:0"><%= flash[:alert] %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script>
      var ApiKey = '<%= escape_javascript(session[:session_id]) %>';
    </script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/flow.min" %>
    <%= javascript_include_tag "vendor/zepto.min" %>

    <%= javascript_include_tag "lib/namespace" %>

    <%= javascript_include_tag "lib/utils/DateTime" %>
    <%= javascript_include_tag "lib/utils/array_extra" %>
    <%= javascript_include_tag "lib/utils/common" %>
    <%= javascript_include_tag "lib/utils/dom" %>
    <%= javascript_include_tag "lib/utils/ie_xmlhttp" %>
    <%= javascript_include_tag "lib/utils/preload" %>
    <%= javascript_include_tag "lib/utils/proto" %>
    <%= javascript_include_tag "lib/utils/roma" %>

    <%= javascript_include_tag "lib/events/event_dispatcher" %>
    <%= javascript_include_tag "lib/events/hotkey" %>
    <%= javascript_include_tag "lib/events/mouse_wheel" %>
    <%= javascript_include_tag "lib/events/queryCSS" %>

    <%= javascript_include_tag "lib/template" %>
    <%= javascript_include_tag "lib/api" %>
    <%= javascript_include_tag "lib/reader/style_initializer" %>
    <%= javascript_include_tag "lib/ldr" %>

    <%= javascript_include_tag "lib/ui/feed" %>
    <%= javascript_include_tag "lib/ui/flat_menu" %>
    <%= javascript_include_tag "lib/ui/item" %>
    <%= javascript_include_tag "lib/ui/rate" %>
  </body>
</html>
