- @title = "Create new account"
#content
  %h2 Create new account
  = flash[:error]
  = form_for :member, url: members_path, html: { data: { controller: "password-match form-validation", action: "submit->form-validation#validate" } } do |f|
    %dl
      %dt
        %label{for: "member_username"} Username
      %dd
        = f.text_field :username, data: { form_validation_target: "field", required: "true", field_name: "Username" }
        %span.field-error{ data: { form_validation_target: "error", for: "member_username" } }
      %dt
        %label{for: "member_password"} Password
      %dd
        = f.password_field :password, data: { password_match_target: "password", action: "input->password-match#validate", form_validation_target: "field", required: "true", field_name: "Password" }
        %span.field-error{ data: { form_validation_target: "error", for: "member_password" } }
      %dt
        %label{for: "member_password_confirmation"} Confirm Password
      %dd
        = f.password_field :password_confirmation, data: { password_match_target: "confirmation", action: "input->password-match#validate", form_validation_target: "field", required: "true", field_name: "Password confirmation" }
        %span.field-error{ data: { form_validation_target: "error", for: "member_password_confirmation" } }
        %span.password-match-message{ data: { password_match_target: "message" } }
    .submit= submit_tag "Sign Up", data: { password_match_target: "submit", form_validation_target: "submit", loading_text: "Creating account..." }
  .section= link_to "Back to Sign In", "/login"
